body{
    font-family: DK Languedoc;
    background-color: #dddddd;
    
}
.content{
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.result{
    text-align: center;
    background-color: white;
    padding: 15px;
}
span{
    color: red;
}